<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>MobileBot Device Tool</title>
<link rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}"/>
</head>
<body>

<div class="">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="../templates/images/spark_small.png"/>Mobile Device Tool</a>
</nav>
</div>
<div>
Error adding device.

<a class="btn btn-primary" href="/device" role="button">Add Device</a>
</div>
</body>
</html>