<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>MobileBot Device Tool</title>
<link rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}"/>
<link rel="stylesheet" href="../static/footer.css" th:href="@{/footer.css}"/>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
Error adding device.
</div>

<a class="btn btn-primary" href="/devices" role="button">Add Device</a>
<a class="btn btn-primary" href="/" role="button">Home</a>
</div>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>