<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mobile Bot - Mobile Test Lab Device Management</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

	<link rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}"/>
</head>
<body>
<div class="">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<img src="../templates/images/spark_small.png" th:src="@{/images/spark_small.png}"/>
  <a class="navbar-brand" href="#">Mobile Device Tool</a>
</nav>
</div>

<div class="container">
    <div th:if="${not #lists.isEmpty(devices)}">
        <h2>Device List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Status</th>
                <th> </th>
            </tr>
            <tr th:each="device : ${devices}">
                <td th:text="${device.id}"></td>
                <td th:text="${device.name}"></td>
                <td th:text="${device.status}"></td>
                <td th:text="${device.imageFile}"></td>
            </tr>
        </table>
    </div>
    
    <a class="btn btn-primary" href="/device" role="button">Add Device</a>
    
</div>

</body>
</html>