<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mobile Bot - Mobile Test Lab Device Management</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

	<link rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}"/>
	<link rel="stylesheet" href="../static/footer.css" th:href="@{/footer.css}"/>
	
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div th:if="${not #lists.isEmpty(devices)}">
        <p><h2>Device List</h2></p>
        <table class="table table-striped">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Status</th>
                <th>Serial #</th>
                <th></th>
            </tr>
            <tr th:each="device : ${devices}">
            	<td><img th:src="@{/images/devices/__${device.imageFile}__}" width="45" height="45"></img></td>
                <td th:text="${device.name}"></td>
                <td th:text="${device.status}"></td>
                <td th:text="${device.serial}"></td>
                <td><a class="btn btn-primary" th:href="@{/devices/__${device.serial}__}" role="button">Device Info</a>
               	<a class="btn btn-primary" th:href="@{/devices/__${device.serial}__/delete}" role="button">Delete Device</a></td>
            </tr>
        </table>
    </div>
    
    <a class="btn btn-primary" href="/devices" role="button">Add Device</a>
    <a class="btn btn-primary" href="/" role="button">Home</a>
    
</div>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>